@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.navbar-bg{
  background-color: #fff !important;
}
.brand-design{
  font-size: 1.9rem !important;
  color: #565387 !important;
}
.navbar a{
  font-size: 1.3rem !important;
  text-transform: capitalize;
}
.menu-active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover{
  color: #565387 !important;
}

#header .btn-get-started:hover{
  background-color: #3498db;
  color:#fff;
}
.header-img{
  text-align: center;
}
#header .header-img img{
  width: 85%;
  padding: 20px;
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.imgPadding{
  padding: 20px;
}
footer{
  position:fixed;
left:0;
bottom:0;
right:0;
}
@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@keyframes  up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@media (max-width:991px){
  .menu-active{
    font-weight: bold;
    border-bottom: none;
  }
  .brand-design{
    font-size: 1.5rem !important;
  }
  #header{
    height: 80vh;
    text-align: center;
  }
  #header .header-img{
    text-align: center;
  }
  #header .header-img img{
    width: 60%;
  }
}
@media (max-width:768px) {
  #header{
    margin-top: none;
  }
  #header h1{
    font-size: 28px;
  }
  #header h2{
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header .header-img img{
    width: 70%;
  }
}
